@page "{id:int}"
@using System.Reflection.Metadata
@using EventAppLib.Model
@model EventApp.Pages.Event.EnlistModel
@{
    ViewData["Title"] = "Enlist";
}

<body>

<div class="container" style="text-align: -webkit-center">
    <div class="card mb-2" style="width: 30rem">
        <div class="card-header p-2">
            <h5 class="card-title">
                (@Model.Event.Id) - @Model.Event.Title - Enlist for event?
            </h5>
        </div>

        <div class="card-body" style="display: flex; justify-content: center">
            <p class="card-text">
                @Model.Event.Description
            </p>
        </div>

        <div class="card-footer" style="display: flex; justify-content: center">
                
            <form method="post">

                <input type="text" asp-for="Event.Id" placeholder="@Model.Event.Id" style="text-align: center" /> <br /> <br />

                <label>Number om reservations:</label> <br />
                <select class="form-control" asp-for="Event.Reservations">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                </select> <br /> <br />

                <label>How many parking spots do you wish?</label> <br />
                <select class="form-control" asp-for="Participants.Parking">
                    <option>0</option>
                    <option>1</option>
                </select> <br /> <br />






                <button class="events-button" type="submit">Accept</button>

                <a class="btn" type="button" asp-page="Index">
                    <i class="events-button">Cancel</i>
                </a>

            </form>


        </div>

    </div>
</div>

</body>

