@page
@model EventApp.Pages.Event.IndexModel
@{
    ViewData["Title"] = "Events";
}

<body>

<div class="events-box">
    <div class="events-header">
        <a>Event Name</a>
    </div>
    
    <div class="events-body">
        <a>Details about event</a>
    </div>

    <div class="footer">
        <a>Footer</a>
    </div>

</div>

</body>
