.events-box {
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    border-block: black;
    border-width: 5px;
    text-align: center;
    font-family: fangsong;
    margin: 10px;
}

.events-header {
    font-size: large;
    height: auto;
    padding: 10px;
    position: relative;
    flex-direction: column;
    display: inline-flex;
    border-color: darkgrey;
    background-color: burlywood;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 2px 2px #778899;
    margin-bottom: 5px;
}

.events-body {
    border-style: double;
    border-color: black;
    margin-bottom: 5px;
    height: auto;
    word-break: break-all;
    padding: 10px;
}

.events-footer {
    border-style: double;
    border-color: black;
    margin-bottom: 5px;
    height: auto;
    word-break: break-all;
    padding: 10px;
}

.events-footer-id {
    font-size: small;
    font-style: italic;
}

.events-delete {
    display: flex;
    flex-direction: row-reverse;
}

.events-button {
    background-color: #fff;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.events-button:hover {
        background-color: #1e293b;
        color: #fff;
    }

@media (min-width: 768px) {
    .events-button {
        font-size: 1.125rem;
        padding: 1rem 2rem;
    }
}

