@page
@model EventApp.Pages.CreateUserModel
@{
    ViewData["Title"] = "Create User";
}

<body>
    
<div class="container" style="align-content: center">
    
    <div class="card mb-2" style="width: 50rem">
        <div class="card-header">
            <h1>Create a user</h1>

        </div>
        
        <div class="card-body">
            
            <form method="post">
                
                <input type="text"/> <br/>
                
                <input type="text"/>
                

            </form>
            

        </div>
        
        <div class="card-footer">
            

        </div>

    </div>

</div>

</body>
