@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>

<div class="container" style="text-align: -webkit-center;">

    <div class="card mb-2" style="width: 50rem">
        <div class="card-header" align="center">
            <h1>Welcome to Tour de Zealand!</h1>

        </div>
        
        <div class="card-img">
            <img src="tour de france.png" alt="Tour de France" width="250" height="250" style="alignment: center" />
        </div>

        <div class="card-body" style="align-self: center; text-align: center">

            <p>
                We have a bunch of events for our employees, where you can sign up for them if you wish. Just go to the events page to find them all!
            </p>
            <p>
                
            </p>
            


        </div>

        <div class="card-footer">


        </div>

    </div>

</div>

</body>
