@page
@model EventApp.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "Shared/_HomeLayout";
}

<body style="background-color: slategrey"> <br/> <br/> <br /> <br /> <br />

<div class="container" align="center">
    
    <h1 style="text-align: center">Login</h1><br/>
    
    <div>
        <form method="post">

            <div class="form-group">
                <label style="font: bold 15px arial, verdana" for="brugernavn">Brugernavn</label> <br/>
                <input type="text" asp-for="User.Username" placeholder="Brugernavn" /><br /><br />

                <label style="font: bold 15px arial, verdana" for="password">Password</label> <br/>
                <input type="password" asp-for="User.Password" placeholder="Adgangskode" /><br /><br />

                @if (@Model.ErrorMessage != "")
                {
                    <p style="color: firebrick; font: bold 15px arial, verdana">@Model.ErrorMessage</p>
                }

                <input class="events-button" type="submit" value="Login" />

                <button type="button" class="events-button" onclick="window.location.href = '/CreateUser'">Sign up</button>

            </div>

        </form>

    </div>

</div>
</body>